apiVersion: v1
kind: Service
metadata:
  name: webhook-server
  namespace: default
  labels:
    app: webhook-server
    version: v1
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 3001
    protocol: TCP
    name: http
  selector:
    app: webhook-server
